<div class="container">
  <h1 class="text-center">Uso de Formulario Reactive con componentes de Angular Material</h1>
  <form [formGroup]="form">
    <p>Ingrese primer valor</p>
    <mat-form-field apperance="fill">
      <mat-label>Primer valor</mat-label>
      <input type="number" matInput autocomplete="off" formControlName="firstNumber" #firstNumber>
    </mat-form-field>
    <br>
    <p>Ingrese segundo valor</p>
    <mat-form-field apperance="fill">
      <mat-label>Segundo valor</mat-label>
      <input type="number" matInput autocomplete="off" formControlName="secondNumber" #secondNumber>
    </mat-form-field>

    <div class="slides d-flex flex-column">
      <mat-slide-toggle color="primary" (change)="op1(firstNumber.value,secondNumber.value)">Sumar</mat-slide-toggle>
      <mat-slide-toggle color="primary" (change)="op2(firstNumber.value,secondNumber.value)">Restar</mat-slide-toggle>
      <mat-slide-toggle color="primary"
        (change)="op3(firstNumber.value,secondNumber.value)">Multiplicar</mat-slide-toggle>
      <mat-slide-toggle color="primary" (change)="op4(firstNumber.value,secondNumber.value)">Dividir</mat-slide-toggle>
    </div>

  </form>

  <div class="mt-5 h4">
    <p *ngIf="suma != 0">Suma: {{suma}}</p>
    <p *ngIf="resta != 0">Resta: {{resta}}</p>
    <p *ngIf="multiplicacion != 0">Multiplicacion: {{multiplicacion}}</p>
    <p *ngIf="division != 0">Division: {{division}}</p>
  </div>

</div>